body {
  background-color: #F3FAF9;
  font-family: 'Amatic SC', cursive;
  font-family: 'Exo', sans-serif;
  font-size: 20px;
}

.top {
  width: 90%;
 left: 5%;
 right: 5%;
 float: center;
 position: relative;
 overflow:auto;
 text-align: center;

}

h1,h2 {

  text-shadow: 2px 2px white;
}

/* .description {
  width: 600px;
} */

.left {
  width: 600px;
  float: left;
  margin-top: 40px
}

.right {
  width: 600px;
  float: left;
}

.center {
    width: 1200px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}

/* img {
  border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
} */
