body {
  background-color: #F3FAF9;
  font-family: 'Amatic SC', cursive;
  font-family: 'Exo', sans-serif;
  font-size: 20px;
}

h1,h2 {
  color: #011613;
  font-family: 'Amatic SC', cursive;
}

.description {
  width: 600px;
}

.left {
  width: 600px;
  float: left;
  margin-top: 40px
}

.right {
  width: 600px;
  float: left;
}

.center {
width: 1200px;
text-align: center;
}
