body {
  background-color: #F3FAF9;
  font-family: 'Kavivanar', cursive;


  font-size: 30px;
  width: auto;
  height: auto;
  left: auto;
  right: auto;
}

.top {
  width: 90%;
 left: 5%;
 right:  5%;
 float: center;
 position: relative;
 overflow:auto;
 text-align: center;

}

h1,h2 {

  text-shadow: 2px 2px white;
}


.left {
  width: 50%;
  float: left;
  margin-top: 30px
}

.right {
  width: 50%;
  float: left;
}

.center {
    width: 100%;
    text-align: center;

}
